<!-- Modal de Login -->
<div class="modal-overlay">
  <div class="login-wrapper">
    <button class="close-button" (click)="fechar.emit()">×</button>

      <!-- Formulário de login -->
      <form [formGroup]="loginForm" (ngSubmit)="entrar()" class="formulario-login">
        <div class="input-group">
          <label for="email">Email</label>
          <input type="email" id="email" formControlName="email" placeholder="Digite seu email" required />
          <div class="error-message" *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.hasError('required')">O email é obrigatório!</div>
          <div class="error-message" *ngIf="loginForm.get('email')?.hasError('email')">Email inválido!</div>
        </div>

        <div class="input-group">
          <label for="senha">Senha</label>
          <input type="password" id="senha" formControlName="senha" placeholder="Digite sua senha" required />
          <div class="error-message" *ngIf="loginForm.get('senha')?.touched && loginForm.get('senha')?.hasError('required')">A senha é obrigatória!</div>
        </div>

        <button class="btn" type="submit">Entrar</button>
      </form>

      <div class="esqueci-senha">
        <a (click)="recuperarSenha.emit()">Esqueci a senha</a> <br>
        <a (click)="trocarCadastro.emit()">Não possui conta?</a>
    
    </div>
  </div>
</div>

<!-- Modal de Recuperação -->
<div class="modal-overlay" *ngIf="mostrarRecuperar">
  <div class="modal">
    <button class="close-button" (click)="mostrarRecuperar = false">×</button>
    <form [formGroup]="recuperarForm" (ngSubmit)="alterarSenha()">
      <label>Email</label>
      <input type="email" formControlName="gmail" placeholder="Digite seu Gmail" />
      <button type="submit">Alterar Senha</button>
    </form>
  </div>
</div>
